:root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-light-gray: hsl(212, 45%, 89%);
    --clr-gray-blue: hsl(220, 15%, 55%);
    --clr-dark-blue: hsl(218, 44%, 22%);

    --fs-300: 0.875rem;
    --fs-400: 1rem;
    --fs-700: 1.75rem;

    --fw-400: 400;
    --fw-700: 700;
    --fw-900: 900;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-height: 100svh;
    min-height: 100vh;
    background-color: var(--clr-light-gray);
    /*line-height: 1.5;*/
    /*-webkit-font-smoothing: antialiased;*/
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
    /*overflow-wrap: break-word;*/
}

p {
    max-width: 75cm;
    text-wrap: pretty;
}